# App
SPRING_PROFILES_ACTIVE=prod
JWT_SECRET=troque_por_uma_chave_aleatoria_de_pelo_menos_64_caracteres

# MySQL
MYSQL_ROOT_PASSWORD=troque_por_senha_forte
MYSQL_DATABASE=everrise_prod
MYSQL_USER=everrise
MYSQL_PASSWORD=troque_por_senha_forte

# Datasource (usado pela app para conectar no mysql do compose)
DB_HOST=mysql
DB_PORT=3306
DB_NAME=everrise_prod
DB_USER=everrise
DB_PASSWORD=troque_por_senha_forte

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=troque_por_senha_forte

# CORS
APP_ALLOWED_ORIGINS=https://everrise.com.br,https://www.everrise.com.br
